@import "../index.scss";

.popup {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  @include breakpoint-low(md) {
    font-size: 1em;
  }
  font-size: 0.5em;
  background-color: rgba($dark, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    padding: 32px;
    background-color: $light;
    width: 100%;
    max-width: calc(100vw / 1.2);
    border-radius: 15px;
    &__input {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &__accept {
        font-weight: bold;
        border: 1px solid black;
        cursor: pointer;
        background: linear-gradient(
          rgba($green, 0.5),
          rgba($green, 0.8),
          $green
        );
        &:hover {
          background: linear-gradient(
            rgba($green, 0.3),
            rgba($green, 0.5),
            rgba($green, 0.8)
          );
        }
      }
      input {
        width: 100px;
        height: 50px;
      }
      &__decline {
        font-weight: bold;
        border: 1px solid black;
        cursor: pointer;
        background: linear-gradient(rgba($red2, 0.5), rgba($red2, 0.8), $red2);
        &:hover {
          background: linear-gradient(
            rgba($red2, 0.3),
            rgba($red2, 0.5),
            rgba($red2, 0.8)
          );
        }
      }
    }
  }
}
